:root{
    --primary: #f1c40f;
    --sec: #27ae60;
    --darkColor:#34495e;
    --whiteColor: #fff;
    --defaultWidth: 90%;

}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background: var(--sec);
}
.main-area{
    width: var(--defaultWidth);
    margin: 20px auto;
    background: var(--darkColor);
    padding: 10px;

}
.title{
    background: var(--primary);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.main-area h2{
    color: var(--darkColor);
    margin: 0;
}
.main{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(4, 100px); */
    column-gap: 10px;
    row-gap: 10px;
    /* gap: 15px; */
    grid-template-rows: 300px 400px;
   
    /* grid-template-rows: 1fr 2fr; */
    /* height: 200px; */
    /* justify-content: space-evenly;  control over x-axis */
    /* align-content: space-around; control over y-axis */
    /* grid-template-areas: 'header header' 'footer footer footer'; */
}   
.child{
    background: var(--whiteColor);
    width: 100%;
    padding: 20px;
    color: var(--darkColor);
    flex-basis: 28%; 
    grid-auto-rows: minmax(40px, auto);
    
}
.child a{
    background: var(--primary);
    color: var(--darkColor);
    display: inline-block;
    transition: 0.5s;
    padding: 10px 20px;
    text-decoration: none;


}
.child a:hover{
    background: var(--sec);
    color: var(--primary);

}
/* .child:nth-child(4) p,
.child:nth-child(5) p{
    display: none;
} */

/* .child:nth-child(1){
    grid-area: header;
}
.child:nth-child(5){
grid-area: footer;
} */
.child:nth-child(1){
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/2;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 1/3; */
    grid-row-start: 1;
    grid-row-end: span 2; 
}
.child:nth-child(2){
    grid-row: 2 / span 2;
}