<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>প্রথম আলো | বাংলা নিউজ পেপার</title>
    <link rel="stylesheet" href="/layout/style.css">
    <link rel="stylesheet" href="/layout/responsive.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header-area">
    <a href=""><img src="/img/header.png" alt=""></a>
</header>
<nav id="menu">
    <ul>
        <li><a href="">সর্বশেষ</a></li>
        <li><a href="">রাজনীতি</a></li>
        <li><a href="">বাংলাদেশ</a></li>
        <li><a href="">অপরাধ</a></li>
        <li><a href="">বিশ্ব</a></li>
        <li><a href="">বাণিজ্য</a></li>
        <li><a href="">মতামত</a></li>
        <li><a href="">খেলা</a></li>
        <li><a href="">বিনোদন</a></li>
        <li><a href="">চাকরি
        </a></li>
        <li><a href="">জীবনযাপন</a></li>
    </ul>
</nav>
<section id="content">
    <div class="container">
        <div id="main-content">
            <div class="child-content">
                <img src="/img/pic1.webp" alt="">
            <h2> <a href="">‘আমি ওপরের দিকের বিশ্বসেরা ব্যাটসম্যান হতে চাই’</a>
            </h2>
            <p>আগের দিন রাওয়ালপিন্ডিতে ইতিহাস গড়ার কারিগর কাল বিমানবন্দরে বসেই প্রথম আলোকে মুঠোফোনে শোনালেন পাকিস্তান সফরে তাঁর নায়কোচিত পারফরম্যান্সের গল্প।</p>
            </div>
            <div class="child-content">
                <img src="/img/pic2.webp" alt="">
            <h1> <a href="">সাবেক সংসদ সদস্যদের ‘গাড়িবিলাস’: ব্যারিস্টার সুমন কিনেছেন সবচেয়ে দামিটি, দ্বিতীয় সাকিব</a>
            </h1>
            <p>শুল্কমুক্ত সুবিধায় গাড়ি আমদানির সুযোগটি বহাল রাখে সব সংসদ। এখন সংসদ সদস্যরা পাঁচ বছরে একটি গাড়ি আমদানি করতে পারেন।
                ২ ঘণ্টা আগে</p>
            </div>
            <div class="child-content">
                <img src="/img/pic3.webp" alt="">
            <h2> <a href="">জয়পুরহাট সদর থানার লুট হওয়া ৭ অস্ত্র এক মাসেও উদ্ধার হয়নি</a>
            </h2>
            <p>গত ৫ আগস্ট রাতে জয়পুরহাট সদর থানার অস্ত্রাগার থেকে ৪৪টি অস্ত্র খোয়া যায়। এ পর্যন্ত ৩৭টি অস্ত্র উদ্ধার হয়েছে। ফলে বাকি সাত অস্ত্র এখনো উদ্ধার
                ১ ঘণ্টা আগে</p>
            </div>
            <div class="child-content">
                <img src="/img/pic4.webp" alt="">
            <h2> <a href="">‘আগ্রাসী, কালো চিবুকের’ তেলাপিয়া নিয়ে থাইল্যান্ডে হিমশিম</a>
            </h2>
            <p>আগ্রাসী এ মাছ নিয়ন্ত্রণে থাইল্যান্ডের হ্রদ ও জলাশয়গুলো এখন চষে বেড়াচ্ছেন লোকজন। পাশাপাশি চেষ্টা চলছে, এ মাছের জিনগত রূপান্তরেরও।
                ২ ঘণ্টা আগে</p>
            </div>
            <div class="child-content">
                <img src="/img/pic7.webp" alt="">
            <h2> <a href="">ছাত্র-জনতার অভ্যুত্থানে নিহতদের পরিবারের দায়িত্ব সরকারের: উপদেষ্টা নাহিদ</a>
            </h2>
            <p>আগের দিন রাওয়ালপিন্ডিতে ইতিহাস গড়ার কারিগর কাল বিমানবন্দরে বসেই প্রথম আলোকে মুঠোফোনে শোনালেন পাকিস্তান সফরে তাঁর নায়কোচিত পারফরম্যান্সের গল্প।</p>
            </div>
            <div class="child-content">
                <img src="/img/pic3.webp" alt="">
            <h2> <a href="">‘আমি ওপরের দিকের বিশ্বসেরা ব্যাটসম্যান হতে চাই’</a>
            </h2>
            <p>আগের দিন রাওয়ালপিন্ডিতে ইতিহাস গড়ার কারিগর কাল বিমানবন্দরে বসেই প্রথম আলোকে মুঠোফোনে শোনালেন পাকিস্তান সফরে তাঁর নায়কোচিত পারফরম্যান্সের গল্প।</p>
            </div>
            <div class="child-content">
                <img src="/img/pic3.webp" alt="">
            <h2> <a href="">জয়পুরহাট সদর থানার লুট হওয়া ৭ অস্ত্র এক মাসেও উদ্ধার হয়নি</a>
            </h2>
            <p>গত ৫ আগস্ট রাতে জয়পুরহাট সদর থানার অস্ত্রাগার থেকে ৪৪টি অস্ত্র খোয়া যায়। এ পর্যন্ত ৩৭টি অস্ত্র উদ্ধার হয়েছে। ফলে বাকি সাত অস্ত্র এখনো উদ্ধার
                ১ ঘণ্টা আগে</p>
            </div>
            <div class="child-content">
                <img src="/img/pic8.webp" alt="">
            <h2> <a href="">ড. ইউনূসের নেতৃত্বাধীন অন্তর্বর্তী সরকারের প্রতি দৃঢ় সমর্থন ১৯৮ বিশ্বনেতার</a>
            </h2>
            <p>আগের দিন রাওয়ালপিন্ডিতে ইতিহাস গড়ার কারিগর কাল বিমানবন্দরে বসেই প্রথম আলোকে মুঠোফোনে শোনালেন পাকিস্তান সফরে তাঁর নায়কোচিত পারফরম্যান্সের গল্প।</p>
            </div>

        </div>
   
    <aside id="main-sidebar">
        <div class="child-sidebar">
            <a href=""><img src="/img/pic5.webp" alt=""></a>
            <h3>মতামত এস আলম তখন কার এখন কার?</h3>
        </div>
        <div class="child-sidebar">
            <a href=""><img src="/img/pic6.webp" alt=""></a>
            <h3>বিশ্লেষণ আফ্রিকার ‘জেন-জি’ যেভাবে ‘ভবিষ্যৎ দখলে’ নেমেছে</h3>
        </div>
        <div class="child-sidebar">
            <a href=""><img src="/img/pic4.webp" alt=""></a>
            <h3>মতামত রক্তাক্ত জুলাইয়ের নৃশংসতার বিচারকে অগ্রাধিকার দিন</h3>
        </div>
    </aside>
</div>
<footer>

</footer>
</section>
</body>
</html>


