body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 12px;
}
.contact{
    width: 84%;
    border: 1px solid white;
    margin: 5px auto;
    padding: 4%;
    text-align: left;
}
.contact h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}
.contact p{
    color: rgb(27, 21, 21);
}
.contact form{
    margin-top: 20px;

}
.child{
    width: 100%;
    margin-bottom: 16px;
}
.child label{
    display: block;
    margin-bottom: 5px;
}
.child input,
.child select,
.child textarea{
    border: 1px solid wheat;
    border-radius: 5px;
    padding: 5px 3%;
    width: 94%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.child select{
    width: 100%;
}
.child input[type='button']{
    width: 200px;
    background: blueviolet;
    border: 1px solid blueviolet;
    color: aliceblue;
    cursor: pointer;
}
.child input[type='button']:hover{
    width: 200px;
    background: black;
    border: 1px solid black;
    color: aliceblue;
}
.child:last-child{
    margin-bottom: 0;
}
